.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  max-width: 20rem;
  margin: 0 auto;
}
.countdown__item {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-width: 31%;
  margin-bottom: 1rem;
}

.countdown__item--large {
  flex: auto;
  width: 100%;
  // font-size: 2.75em;
}
//color de los cuadros
.countdown__timer {
  padding: .25em;
  background-color: rgba(64, 64, 64, .6);
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  font-size: 2em;
  @include centerFlex;
}

.countdown__label {
  font-size: 1em;
  padding-top: .40em;
  @include centerFlex;

  // .countdown__item--large & {
  //   &:before,
  //   &:after {
  //     content: "";
  //     display: block;
  //     height: 1px;
  //     background-image: linear-gradient(
  //       left,
  //       rgba(0, 0, 0, 0),
  //       rgba(0, 0, 0, .4),
  //       rgba(0, 0, 0, 0));
  //   }

  // }
}
.dias{
  // background-color:red;
  @include centerFlex;
  font-size:2rem;
}
.numDias{
  // background-color:red;
  @include centerFlex;
}
