.headerContainer
  .headerContainer-encabezado
    .ingreso
    .anuncio
    .barra
  .headerContainer-navegacion
    .eventos
      .eventos-cajas
        .eventos-cajas__vivo
        .eventos-cajas__proximos
        .eventos-cajas__todos
      .eventos-detalles
  .headerContainer-apuestas
    .slider
    .detApuestas
  .headerContainer-configuracion
    .configCupon
      .configCupon-titulo
      .configCupon-contenido
        .linea
          .linea-texto
          .linea-caja
        .lineaEsp
          .lineaEsp-texto
          .lineaEsp-caja
      .instructivo
    .configAuto
      .configAuto-titulo
      .configAuto-contenido
        .linea
          .linea-texto
          .linea-caja
        .lineaEsp
          .lineaEsp-texto
          .lineaEsp-caja
        .linea
          .linea-texto
          .linea-caja
      .configAuto-boton
        input(type="button", value="calcular")
    .configReser
    .instructivo
      .linea
        .linea-texto
        .linea-caja
      .configAuto-boton
        input(type="button", value="calcular")
