.container
  header.hero#inicio
    .hero-logo
      picture
        //- srcset
      img(src="./images/logo.png" alt="Logo" height="100")
    .hero-wait
      .hero-wait--title
        h1.titlePrincipal HomeBet
        h2.title ¡Proximamente!
    .hero-img
      .fondo
    .hero-interface
      .inter
        img(src="./images/interface.jpg" alt="presentacion interface de plataforma" height="150px")
      //- .hero-wait--counter
      //-   +countDown
