//- //- fixme:pendiente por revisar la identacion
//- main#institucional.mainContainer
//-   +headerTitle('NUESTRA', 'INSTITUCIÓN')
//-   section.mainContainer-sectionOne.u-firstContent
//-     +titlesPack('Scouts', 'Oxford')
//-     article.mainContainer-body_b1
//-       p.mainContainer-text1 #[span En el 2008 se plantea el primer colegio scout del país.] Se escogen el nombre de Oxford por ser la universidad donde enseño el papa del fundador del movimiento scout y se traen los colores ingleses Y comienza con tres ramas educativas y en el 2015 se da inicio a la cuarta rama rover.
//-       p En sus años de trayectoria cuenta con más de 20 campamentos, siendo el grupo más grande de la región del meta.
//-     section.infoContainer.mainContainer-links
//-       +titleLinks('NUESTRA', 'HISTORIA', 'Nace en el año 1999 como grupo abierto', 'historia')
//-         block Ventanamodal
//-           +modalBox('NUESTRA HISTORIA', 'Nace en el año 1999 como grupo abierto ciento una esperanza del escultismo para los colegios, es el primer paso a nivel nacional para crear colegios scout. En el año 2004 se da receso de actividades por cuatro años y en el 2008 se plantea el primer colegio scout del país como grupo cerrado promoviendo las actividades de hermandad y valores a través de todas las actividades de pedagogía.', 'Se escogen el nombre de Oxford por ser la universidad donde enseño el papa del fundador del movimiento scout y se traen los colores ingleses Y comienza con tres ramas educativas y en el 2015 se da inicio a la cuarta rama rover.', 'historia')
//-       +titleLinks('LEY Y', 'PROMESA', 'Por mi honor y con la gracia de Dios, Prometo hacer todo cuánto de mí dependa para:...', 'ley')
//-         block Ventanamodal
//-           +modalBox('LEY Y PROMESA', 'LEY: 1. El Scout cifra su honor en ser digno de confianza || 2. El Scout es leal || 3. El Scout es útil y ayuda a los demás sin pensar en recompensa || 4. El Scout es amigo de todos y hermano de todo scout, sin distinción de credo, raza, nacionalidad o clase social || 5. El Scout es cortés y caballeroso || 6. El Scout ve en la naturaleza la obra de Dios y protege animales y plantas || 7. El Scout obedece y no hace nada a medias || 8. El Scout canta y ríe en sus dificultades || 9. El Scout es económico, trabajador y cuidadoso del bien ajeno || 10. El Scout es limpio, sano y puro de pensamiento, palabra y obra.','PROMESA: Por mi honor y con la gracia de Dios Yo………… prometo hacer todo cuanto de mí dependa para cumplir mis deberes para con Dios y la Patria, ayudar a mi prójimo en toda circunstancia y cumplir fielmente la Ley Scout.', 'promesa')
//-       +titleLinks('NUESTROS', 'RECONOCIMIENTOS', 'Reconocimiento de embajadores de mensajeros de la Paz', 'reconocimientos')
//-         block Ventanamodal
//-           +modalBox('NUESTROS RECONOCIMIENTOS', 'en todo este espacio se coloca una descripcion no tan amplia o un breve contenido acerca de esta seccion', '', 'reconocimientos')
//-   section.mainContainer-sectionTwo
//-     +titlesPack('Nuestro', 'Equipo')
//-     article.mainContainer-body_b2
//-       .mainContainer-text
//-         .mainContainer-text__j1
//-           p Luz azucena Valero -
//-             span presidente de consejo
//-           p Truman herrera -
//-             span jefe de grupo
//-           p David López Holguín -
//-             span Subjefe de grupo
//-         .mainContainer-text__j2
//-           p Alejandra Salazar -
//-             span Jefe de manada
//-           p Miller Peña -
//-             span Jefe de tropa
//-           p Jhon Pulido -
//-             span Jefe de comunidad
//-           p David Alexander Melo -
//-             span Jefe de Clan


//-   section.mainContainer-sectionThree
//-     +titlesPack('Razón', 'de Ser')
//-     article.mainContainer-body_b3
//-       p.mainContainer-text Razón para ser scout, ser scout lleva un poco más a allá, porqué millones de personas de todo el mundo llevan voluntariamente este uniforme’. habla de convertir a niños en adultos impresionantes, personas que se valoren y valoren a los demás y que dediquen tiempo a quien lo necesite. Todo ello sin necesidad de ninguna habilidad específica.
//-       p Ser scout vas allá de un hobby, es ayudar a construir un mundo mejor, en igualdad de condiciones, donde es prioridad es el servicio por los demás y el medio ambiente no sin antes divertirán poco.
//-     article.mainContainer-boxInfo
//-       .wrapOne
//-         +boxInfo('MISIÓN', 'Contribuir en la educación de los Jovenes basado en valores', 'La Misión del Movimiento Scout es contribuir a la educación de los jóvenes, mediante un sistema de valores basado en la Promesa y la Ley Scout, para ayudar a construir un mundo mejor donde las personas se sientan realizadas como individuos y jueguen un papel constructivo en la sociedad.' )
//-       .wrapTwo
//-         +boxInfo('VISIÓN', 'Jovenes activos y gestores de PAZ generando cambios positivos en sus comunidades.', 'Para el 2023, la Asociación Scouts de Colombia será uno de los movimientos juveniles líderes en nuestro país, permitiendo a 50.000 jóvenes convertirse en ciudadanos activos y gestores de paz, creando un cambio positivo en sus comunidades basado en los valores compartidos.' )

